/* SearchBox.css */
body {
  font-family: "Poppins";
  background: var(--Primary-Black, #1F2129);
  color: white
}

/* border: 1px solid #ccc; */

.search-container {
  width: 289px;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px;

  border-radius: 26px;
  background: #101215;
  
}


.search-icon {
  margin-right: 8px;
}

.search-input {
  border: none;

  outline: none;
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.28px;
  flex: 1;
  color: var(--Primary-White, #fefefe);

  border-radius: 26px;
  background: #101215;
}





/* CreateProjectButton.css */
.create-button {


  background-color: rgba(63, 162, 104, 1);
  /* Button background color */
  color: white;
  /* Button text color */
  border: none;
  border-radius: 30px;
  padding: 16px;

  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.plus-icon {
  margin-right: 8px;
  /* Spacing between the icon and text */
  font-size: 20px;
  /* Icon size */
}









/* NestedBoxComponent.css */
.outer-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 235px;
  height: 150px;
  border: 1px solid #ccc;
  margin-top: 23px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(10.399999618530273px);
  gap: 23px;
}

.inner-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.count-of-projects {
  height: 74px;
}

.heading-box {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: -2px;
  margin-top: -41px;
  align-items: center;
}

.user-icon-box {
  background-color: rgba(63, 162, 104, 1);
  font-size: 24px;
  color: rgba(63, 162, 104, 1);
  /* Customize the icon color as needed */
  border: 1px solid;
  padding: 22px;
  padding-right: 15px;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.user-icon {
  margin-right: 8px;
}


.main-outer-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}



/*  */
.mainbox{
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  align-items: center;
  width: 465px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.boxes {
  display: flex;
  align-items: center;
  gap: 12px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 5px;
  border-radius: 6px;
  justify-content: space-around;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.hr-lines {
  width: -webkit-fill-available;
}



/*  */

/* App.css */

/* Basic styles for larger screens (desktop) */
.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background: var(--Primary-Black, #1F2129);
  color: #fff;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 12px;
}

.sidebar ul li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar ul li:hover {
  background-color: #555;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.content {
  flex: 1;
  background-color: #f0f0f0;
  padding: 20px;
}

/* Toggle button styles for smaller screens (mobile/tablet) */
.toggle-button {
  display: none;
  border-radius: 12px;
  background: var(--Primary-Black, #1F2129);
  border: none;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

/* Responsive styles for smaller screens (mobile/tablet) */
@media (max-width: 768px) {
  .toggle-button {
    display: block;
    /* Show the toggle button for smaller screens */
  }

  .sidebar {
    width: 100%;
    transform: translateX(-100%);
    position: absolute;
    z-index: 1;
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .toggle-button.hide {
    transform: translateX(100%);
  }
}



.logo {
  width: 161px;


}

.logo-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -74px;
  margin-top: 6px;
}



.user-img {
  width: 34px;
  border-radius: 50%;
}

.user-info {
  display: flex;
  gap: 9px;
  align-items: center;
  margin-top: 0px
}


.additional-content {
  margin-top: 167px;
}

li {
  display: flex;
  align-items: center;
  gap: 8px;
}

ul {
  margin-left: 13px;
}


.dashboard {
  display: flex;
  width: 100%;
  justify-content: space-around;
}


.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
 
}

@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}